REACT_APP_NEWS_INGESTION_URL=http://localhost:5001
REACT_APP_PREPROCESSING_URL=http://localhost:5002
REACT_APP_INFERENCE_URL=http://localhost:5003
REACT_APP_SIGNAL_GENERATION_URL=http://localhost:5004
REACT_APP_RESULTS_DB_URL=http://localhost:5005
