PORT=4000
NEWS_INGESTION_URL=http://news-ingestion-service:5001
PREPROCESSING_URL=http://preprocessing-service:5002
INFERENCE_URL=http://inference-engine:5003
SIGNAL_URL=http://signal-generation-service:5004
RESULTS_URL=http://results-db-service:5005
